/* * {
    font-family: monospace;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 60vw;
    margin: auto;
    background-color: black;
    color: white;
}



.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify {
    justify-content: space-between;
}

.align-bottom {
    display: flex;
    align-items: flex-end;
}


.btn {
    padding: 5px 10px;
    border: none;
}

.radius {
    border-radius: 10px;
}

.list-style {
    list-style: none;
    padding-left: 0;
}

.mt {
    margin-top: 20px;
}

.mb {
    margin-bottom: 5px;
}

h1 {
    margin-bottom: 20px;
}

.bg-white {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px 10px;
    display: inline-block;
}

.form-style {
    background-color: white;
    color: black;
    padding: 20px;
    justify-content: center;
}

.form-style input[type=text] {
    background-color: black;
    color: white;
}
.form-style textarea {
    background-color: black;
    color: white;
}


input[type=text], input[type=password], textarea {
    padding: 5px 10px;
    border: none;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.active-nav {
}

.align-center {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: nowrap;
    margin: 0;
}
 */

 body {
    margin: auto;
    max-width: 60vw;
 }

 nav {
    margin-bottom: 0;
}

footer {
    padding: 0;
    margin-top: 50px;
}

main {
    padding: 0;
}